@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');


* {
    font-family: 'Kanit', sans-serif;
}

.abouthead {
    margin-bottom: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}

.navbar-brand {
    font-size: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.navbar-brand:hover {
    color: grey;
}

.sticky-footer {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: grey;
}

.content{
    display: flex;
    justify-content: center;
}

.logo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.par{
    font-size: medium;
    font-weight: bolder;
    padding: 20px;
    margin-top: 20px;
}

.workandex {
    margin-top: 200px;
    text-decoration: underline;
}

.skillshead {
    text-decoration: underline;
}

.timeline {
    padding: 100px 0px;
}

.carousel {
    position: relative;
}

.carousel-indicators {
    top: 50;
    width: 75%;
    margin-left: 14%;
    position: static;
    margin-bottom: 40px;
}

.carousel-indicators button {
    text-indent: 0!important;
    background: 0 0;
    border: none;
    margin: 0!important;
    position: relative;
    width: 25%!important;
}

.carousel-indicators button::before {
    position: absolute;
    content: "";
    border-top: 4px solid black;
    width: 100%;
    left: 0;
}

.carousel-indicators button h4 {
    margin-top: -41px;
    position: absolute;
    left: 43%;
    transform: translateX(-50);
}
 
.slide-text {
    text-align: center;
    margin-right: 70px;
    margin-left: 70px;
}

h3 {
    text-align: center;
}

.skillssec{
    margin-bottom: 13rem;
}

.progress-card {
    width: 1000px;
    height: 100px;
    margin-left: 230px;  
}

.imgss1 {
    width: 50px;
    height: 50px;
    margin-bottom: 2px;
}

.imgss2 {
    width: 40px;
    height: 50px;
    margin-left: 5px;
    margin-bottom: 2px;
}

.imgss3 {
    width: 50px;
    height: 40px;
    margin-left: 2px;
    margin-bottom: 2px;
}

.imgss4 {
    width: 60px;
    height: 50px;
}

.progress {
    margin-bottom: 5px;
}

.progress-bar-cus {
    background-color: purple;
}

.progress-bar-cust {
    background-color: yellow;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 300px ) and (max-width: 600px) {
    .content {
        display: inline-block;
    }
    
    .logo{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-top: 5px;
        margin-left: 100px;
    }

    .par{
        font-size: small;
        font-weight: bolder;
        text-align: center;
    }

    .workandex {
        margin-top: 10px;
    }

    .carousel-indicators button h4 {
        left: 15%;
    }
    
    .progress-card {
        width: 250px;
        height: 20px; 
        margin-left: 30px;
        margin-bottom: 16rem;
    }

    .imgss1 {
        width: 33px;
        height: 30px;
        margin-bottom: 2px;
    }
    
    .imgss2 {
        width: 25px;
        height: 35px;
        margin-left: 5px;
        margin-bottom: 2px;
    }
    
    .imgss3 {
        width: 32px;
        height: 28px;
        margin-left: 2px;
        margin-bottom: 2px;
    }
    
    .imgss4 {
        width: 36px;
        height: 32px;
    }

}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .logo{
        width: 170px;
        height: 170px;
        border-radius: 50%;
        margin-top: 3rem;
        margin-bottom: 5px;
        margin-left: 1rem;
    }

    .par{
        font-size: small;
        font-weight: bolder;
        text-align: center;
    }

    .carousel-indicators button h4 {
        left: 35%;
    }

    .progress-card {
        width: 450px;
        height: 20px; 
        margin-left: 8rem;
        margin-bottom: 20rem;
    }
}