@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

.navbar-brand {
    font-size: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.navbar-brand:hover {
    color: grey;
}

.sticky-footer {
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: grey;
}

.card {
    width: 40rem;
    height: fit-content;
    border-width: 5px;
    border-color: black;
    margin-bottom: 5px;
}

.card-header {
    font-size: 25px;
    background-color: white;
}

.list-group-item {
    font-size: 20px;
    text-align: center;
}

.contactcont {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 6rem;
}

.subbutton {
    /* width: 30px;
    height: 20px; */
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    color: white;
}

.contacthead {
    margin-bottom: 20px;
    margin-top: 5px;
    text-align: center;
    text-decoration: underline;
}

.card {
    margin-top: 45px;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 300px ) and (max-width: 600px) {

    .contactcont {
        display: inline-block;
        margin-left: 0.4rem;
        margin-bottom: 2rem;
    }

    .card-header {
        font-size: medium;
    }

    .list-group-item {
        font-size: medium;
        text-align: center;
    }

    .card {
        width: 18rem;
    }

    .contacthead {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .contactcont {
        display: inline-block;
        margin-left: 2rem;
    }
}