@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

.navbar-brand {
    font-size: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.sticky-footer {
    text-align: center;
    position: sticky;
    height: 100%;
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

.card {
    width: 40rem;
    height: fit-content;
    border-width: 10px;
    border-color: black;
    margin-bottom: 5px;
}

.card-header {
    font-size: 25px;
}

.list-group-item {
    font-size: 20px;
    text-align: center;
}

.contactcont {
    display: flex;
    justify-content: space-evenly;
}

.subbutton {
    width: 30px;
    height: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}
