@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

.navbar-brand {
    font-size: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.navbar-brand:hover {
    color: grey;
}

.sticky-footer {
    text-align: center;
    background-color: black;
    color: white;
    bottom: 0;
    width: 100%;
    /* position: fixed; */
}

.nav-link {
    color: white;
}

.nav-link:hover{
    color: grey;
}

.navbar {
    background-color: black;
}

.content{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo{
    width: 330px;
    height: 500px;
    border-radius: 2rem;
    margin-top: 30px;
    margin-bottom: 28px;
}

.par{
    font-size: xx-large;
    font-weight: bolder;
    padding: 20px;
    margin-top: 160px;
}

::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 300px ) and (max-width: 600px) {
    .content {
        display: inline-block;
        justify-content: center;
        height: 100%;
        margin-left: 2rem;
    }

    .footer {
        width: 100%;
    }

    .navbar {
        width: 100%;
    }

    .par {
        margin-top: 5px;
        padding: 0;
        text-align: center;
        font-size: 1rem;
    }

    .logo {
        width: 270px;
        height: 400px;
        margin-left: -1rem;
        margin-top: 0.5rem;
    }

    .btn {
        width: 70px;
        height: 35px;
        font-size: 10px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 700px) and (min-width: 600px) {
    .logo {
        margin-left: 1rem;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}