@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

.navbar-brand {
    font-size: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

body {
    min-height: 100vh;
}

.sticky-footer {
    text-align: center;
    position: sticky;
    height: 100%;
    background-color: black;
    color: white;
}

.nav-link {
    color: white;
}

.navbar {
    background-color: black;
}

.content{
    display: flex;
    justify-content: center;
}

.logo{
    width: 400px;
    height: 600px;
    border-radius: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

.par{
    font-size: xx-large;
    /* font-family: sans-serif; */
    font-weight: bolder;
    padding: 20px;
    margin-top: 160px;
}

