@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

.navbar-brand {
    font-size: 30px;
    color: white;
    font-family: 'Kanit', sans-serif;
}

.sticky-footer {
    display: flex;
    justify-content: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

.navbar {
    background-color: black;
}

.nav-link {
    color: white;
}

h3 {
    margin-bottom: 20px;
    margin-top: 5px;
    text-decoration: underline;
    text-align: center;
}

.proj-head {
    margin-top: 20px;
}

.projects-content {
    margin-bottom: 50px;
}

.card-testi {
    float: left;
    margin-left: 12rem;
}

.second-r {
    float: left;
    margin-left: 20rem;
}

.card-proj {
    float: left;
    margin-left: 12rem;
    margin-bottom: 10rem;
    height: 20px;
    width: 30px;
}

.images {
    width: 10rem;
    height: 5rem;
}

::-webkit-scrollbar{
    display: none;
}